# Association rules with apriori frequent itemset mining

In [29]:
# Import libs

from apriori_algorithm import apriori

In [30]:
# Define a set of transactions

itemSetList = [
    ['Beer', 'Nuts', 'Diaper'],
    ['Beer', 'Coffee', 'Diaper'],
    ['Beer', 'Diaper', 'Eggs'],
    ['Nuts', 'Eggs', 'Milk'],
    ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']
]

In [31]:
# Run algorithm
# Let's define minimup support = 0.5
# and mininum confidence = 0.5
freqItemSet, rules = apriori(itemSetList, minSup=0.5, minConf=0.5)

In [32]:
# Print the frequent itemsets
for key in freqItemSet:
    values = [list(x) for x in freqItemSet[key]]
    print(f'{key}: {values}')

1: [['Nuts'], ['Beer'], ['Diaper'], ['Eggs']]
2: [['Beer', 'Diaper']]

In [33]:
# Print rules
for rule in rules:
    print(f'{rule[0]} --> {rule[1]} [conf: {rule[2]}]')

{'Diaper'} --> {'Beer'} [conf: 0.75]
{'Beer'} --> {'Diaper'} [conf: 1.0]

# Association rule mining with mlxtend library

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Kidney Beans, Onion)

In [15]:
from mlxtend.frequent_patterns import association_rules

assoc_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
assoc_rules.iloc[:, 0:7]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00
7,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25
8,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00
9,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25